{
  "extends": "airbnb-base",
  "plugins": [
    "jest"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "window": true
  },
  "env": {
    "jest/globals": true
  },
  "rules": {
    "jest/no-disabled-tests": "error",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "consistent-return": "off"
  }
}
