{
  "extends": "airbnb-base",
  "plugins": [
    "react",
    "jest"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "window": true
  },
  "env": {
    "jest/globals": true
  },
  "rules": {
    "jest/no-disabled-tests": "error",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "consistent-return": "off",
    "no-console": "off",
    "no-empty": ["error", {"allowEmptyCatch": true}]
  }
}
